* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  min-height: 100vh;
  overflow: auto; /* Enable scrolling */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For IE/Edge */
}

::-webkit-scrollbar,
::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and WebKit browsers */
}
